# Secrets — never commit these
.env
terraform/terraform.tfvars
*.tfvars

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
*.egg-info/

# Node / React
node_modules/
build/
dist/
.env.local

# Mac
.DS_Store

# VS Code
.vscode/backend/lambdas/**/function.zip
backend/lambdas/**/__pycache__
frontend/node_modules
*.zip
